<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard

* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Creative Tim">
  <title>Login</title>
  <!-- Favicon -->
  <link rel="icon" href="{% static 'img/brand/favicon.png' %}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{% static 'vendor/nucleo/css/nucleo.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{% static 'css/argon.css' %}" type="text/css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
</head>

<body class="bg-default">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-horizontal navbar-transparent navbar-main navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand p-1" href="javascript:void(0)">
          <img src="{% static 'img/brand/blue.png' %}" class="navbar-brand-img" alt="...">
        </a>
    </div>
  </nav>
{% block content %}
{% endblock %}
  <!-- Footer -->
  <footer class="pt-5 pl-3">
    <div class="copyright text-center text-lg-left text-muted">
      Bootstrap Template: &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
    </div>
    <div class="copyright text-center text-lg-left text-muted">
      Created by<a href="https://www.spolichnowski.pl" class="font-weight-bold ml-1" target="_blank">Stanislaw Polichnowski</a>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/js-cookie/js.cookie.js' %}"></script>
  <script src="{% static 'vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
  <!-- Argon JS -->
  <script src="{% static 'js/argon.js' %}"></script>
</body>

</html>